@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins, sans-serif, bignoodletitling, merienda;
}

body {
	text-align: center;
	height: 100%;
}

nav{							
	background: #9b59b6;
	position: fixed;
	width: 100%;
	z-index: 12;
	height: 80px;
	line-height: 80px;
}

nav .navigation{
	position: relative;
	padding: 0 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigation .logo a{				
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	font-family: bignoodletitling;
	letter-spacing: 5px;
}

.navigation .navbuttons{
	display: inline-flex;
}

.navbuttons li{
	list-style: none;
}

.navbuttons li a{					
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 5px 15px;
	transition: all 0.3s ease;
	font-family: bignoodletitling;
	letter-spacing: 3px;
	border-radius: 10px;
}

.navbuttons li a:hover{
	background: #ddd;
	color: #262626;
}

/*----------- CONTENT AREA -----------*/
.content-area{
	top: 80px;
	height: 100%;
	width: 100%;
	background: #ddd;
	position: relative;
}

.row{
	display: flex;
	flex: wrap;
	height: 150px;
}

.col-1{
	display: flex;
	align-content: left;
	width: 100%;
}

.evvbuttons{
	margin-top: 45px;
	margin-left: 20px;
}

.evvbuttons .btn{
	display: inline-block;										
	background: cadetblue;
	color: #fff;
	padding: 10px 20px;		
	border-radius: 2px;
	transition: background 0.2s;	
	text-decoration: none;
	letter-spacing: 2px;
}

.col-2{
	align-content: right;
	width: 100%;
	padding-top: 30px;
}

.row-1{
	display: flex;
	margin-left: 45%;
	padding: 0 0 20px;
}

.row-1 input {
	width: 250px;
	height: 30px;
	margin-right: 6px;
	margin-left: 3px;
}

.row-1 button{
	background: cadetblue;
	border: none;
	padding: 2px 3px;
	color: white;
}

.small-buttons .btn-1{
	display: inline-block;										
	background: cadetblue;
	color: #fff;
	padding: 3px 16px;	
	margin: 4px;	
	border-radius: 2px;
	text-decoration: none;
}

/*-------- TABLE AREA --------*/
h2{
	float: left;
	margin-left: 50px;
	margin-top: 20px;
}

.table-area {
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 100px;   
   padding-bottom: 130px;
}

td, th{
	border: 1px solid black;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.data-tbl th{
   padding: 10px 6px 10px;
   background: #9b59b6;
}

.data-tbl tr td{
   padding: 8px;
   font-size: 14px;
   background: #71b7e6;
}

/*--------------------- FOOTER -----------------*/
#footer{
   	background: #9b59b6;
	position: relative;
	height: 50px;
	top: 80px;
	font-size: 14px;				
}

#footer .container h3{
	padding-top: 15px;
}
