
<!DOCTYPE html>
  <html lang=en>
    <%- include('./headOpening'); %> 
      <link rel="stylesheet" href="../css/data.css">
    <%- include('./headOpening'); %> 

    <body>
      <main>
        <div class="content-area">
          <div class="row">
            <div class="col-1">
              <div class="evvbuttons"><a id="printTblBtn" href="#" class="btn">Print</a></div>
              <div class="evvbuttons"><a id="sortBtn" href="#" class="btn">Sort</a></div>
              <div class="evvbuttons">
                <select name="Fields" id="field" class='small-buttons'>
                  <option value="name">Name</option>
                  <option value="date">Date</option>
                </select>
              </div>
              
              <div class="evvbuttons">
                <select name="Ordering" id="order" class="small-buttons">
                  <option value="ascending">Ascending</option>
                  <option value="descending">Descending</option>
                </select>
              </div>
            </div>
  
            <div class="col-2">
                <input type="text" name="search" id="searchInput" placeholder="Search...">
            </div>
          </div>
          

          <h2>Contact Tracing Table</h2>
          <div class="table-area">
            <table id="visitTBL" class="data-tbl">
              <thead>
                <!-- headers will be inserted here -->
              </thead>
              <tbody>
                <!-- data will be inserted here -->
              </tbody>

            </table>
          </div>
        
        </div>
      </main>

      <script src="../renderers/require.js"></script>
      <script src="../renderers/contactTracingTableRenderer.js"></script>
      <%- include('./footer'); %> 

    </body>
</html>