
  
      <div class="row">
        <div class="col-1">
          <div class="evvbuttons"><a id="establishmentTableButton" href="#" class="btn">Establishments</a></div>
          <div class="evvbuttons"><a id="visitorTableButton" href="#" class="btn">Visitors</a></div>
          <div class="evvbuttons"><a id="visitTableButton" href="#" class="btn">Visits</a></div>
        </div>

        <div class="col-2">
          <div class="row-1">
            <input type="text" name="search" id="searchInput" placeholder="Search...">
                <button id="searchBtn" href="#">Search</button>
          </div>
          <div class="row-1">
            <div class="small-buttons">
              <a href="" class="btn-1">Edit</a>
            </div>
            <div class="small-buttons">
              <a id='deleteBtn' href="" class="btn-1">Delete</a>
            </div>
            <div class="small-buttons">
              <a href="" class="btn-1">Sort</a>
            </div>
            <div class="small-buttons">
              <a id='traceBtn' href="" class="btn-1">Trace</a>
            </div>
          </div>
        </div>
      </div>