<div>
  <a id="establishmentTableButton" class="nav-link active" aria-current="page" href="none">Establishment</a>
  <a id="visitorTableButton" class="nav-link active" aria-current="page" href="none">Visitor</a>
  <a id="visitTableButton" class="nav-link active" aria-current="page" href="none">Visit</a>
</div>
