<%- include('./header'); %> 

  <h1>Establishment Data</h1>
  <%- include('./dataNavigation'); %> 
  <table class="table" id="establishmentTBL">
      <thead>
        <tr>
          <th scope="col">#</th>
          <!-- table headers will be inserted here -->
        </tr>
      </thead>
      <tbody>
        <!-- data will be inserted here -->
      </tbody>
  </table>

  <script src="../renderers/require.js"></script>
  <script src="../renderers/establishmentDataPage.js"></script>
  <script src="../renderers/dataNavigationRenderer.js"></script>
<%- include('./footer'); %> 