<!DOCTYPE html>
<html lang=en>

<%- include('./headOpening'); %> 
	<link rel="stylesheet" href="../css/index.css">
<%- include('./headClosing'); %> 

<body>
	<%- include('./navigation'); %> 
    <main>
		<div class="content-area">
			<div class="section-1">
				<h1>Contactless Contact Tracing Solution using QR Code</h1>
			</div>
			<div class="section-2">
				<h1>News And Updates About COVID-19 in the Philippines</h1>
				<img src="../images/covpic.jpg" alt="vaccine" width="1348" height="344">
			</div>
			<div class="section-3">
				<h1>Information About the System</h1>
	 			<h2>The main goal of the project is to create a system that will replace the old contact tracing to effectively improve the control of the spread of the disease duringa pandemic.</h2>
			</div>
			<div class="section-4">
				<h1>Technology Stack</h1>
			</div>
		</div>
	</main>

	<script src="../renderers/require.js"></script>
	<script src="../renderers/indexPageRenderer.js"></script>
	<%- include('./footer'); %>

	</body>
</html>
