<%- include('./header'); %> 
    <h1>Index Page: Unimplemented</h1>

    <script src="../renderers/require.js"></script>
    <script src="../renderers/indexPageRenderer.js"></script>
<%- include('./footer'); %>