<%- include('./header'); %> 
    <h1>Registration</h1>

    <a id="visitorRegistrationButton" class="nav-link active" aria-current="page" href="none">Visitor</a>
    <a id="establishmentRegistrationButton" class="nav-link active" aria-current="page" href="none">Establishment</a>
    <a id="adminRegistrationButton" class="nav-link active" aria-current="page" href="none">Admin</a>

    <script src="../renderers/require.js"></script>
    <script src="../renderers/registrationRenderer.js"></script>
<%- include('./footer'); %>