<%- include('./header'); %> 

<!-- visitors tab content -->

<div class="container">
    <table class="table table-hover table-striped table-light">
      <thead>
        <tr>
          <% for (const property in visitor[0]._doc) { %>
            <th><%= property %></td>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (const index in visitor) { %>
          <tr>
            <% for (const property in visitor[index]._doc) { %>
              <td><%= visitor[index]._doc[property] %></td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <!-- end of visitor tab content -->





<%- include('./footer'); %> 