@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

#container{
	min-height: 100%;
	background-color: #ddd;
}

nav{
	background-color: #262626;
	height: 80px;
}

nav .navigation{
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 80px;
}

nav .logo{
	margin-left: 30px;
}

nav .logo a{
	color: white;
	font-size: 35px;
	text-decoration: none;
	font-family: bignoodletitling;
	letter-spacing: 3px;
}

nav .navbuttons{
	display: inline-flex;
	margin-right: 30px;
}

nav .navbuttons li{
	text-decoration: none;
	list-style: none;
}

nav .navbuttons li a{
	color: white;
	font-size: 20px;
	letter-spacing: 3px;
	font-family: bignoodletitling;
	padding: 5px 15px;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
}

nav .navbuttons li a:hover{
	background: #ddd;
	color: #262626;
}



#main{
	overflow: auto;
	padding-bottom: 60px;
}

.row{
	display: flex;
	flex: wrap;
	height: 200px;
}

.col-1{
	display: flex;
	align-content: left;
	width: 50%;
}

.evvbuttons{
	margin-top: 80px;
	margin-left: 20px;
}

.evvbuttons .btn{
	display: inline-block;										
	background: #ff523b;
	color: #fff;
	padding: 10px 20px;		
	border-radius: 2px;
	transition: background 0.2s;	
	text-decoration: none;
	letter-spacing: 2px;
	font-family: bignoodletitling;
	font-size: 20px;
}

.col-2{
	padding-top: 30px;
	width: 50%;
}

button{
	cursor: pointer;
	
}

.row-1{
	display: flex;
	margin-left: 50%;
	padding: 0 0 20px;
}

.row-1 input {
	width: 222px;
	height: 30px;
	margin-right: 6px;
	margin-left: 6px;
}

.row-1 button{
	background: #ff523b;
	border: none;
	padding: 2px 5px;
	color: white;
}

.small-buttons .btn-1{
	display: inline-block;										
	background: #ff523b;;
	color: #fff;
	padding: 5px 26px;	
	border-radius: 2px;
	text-decoration: none;
	margin: 8px;
	height: 30px;
}

.option1{
	height: 30px;
	margin-top: 8px;
	margin-left: 5px;
	width: 93px;
}

.option2{
	height: 30px;
	margin-top: 8px;
	margin-left: 15px;
	width: 87px;
}


/*-------- TABLE AREA --------*/
h2{
	float: left;
	margin-left: 50px;
	margin-top: 20px;
	font-family: poppins;
}

.table-area {
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 70px;   
}

td, th{
	border: 1px solid black;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.data-tbl th{
   padding: 10px 6px 10px;
   background: #ff523b;
   font-family: poppins;
}

.data-tbl tr td{
   padding: 8px;
   font-size: 14px;
   font-family: poppins;
}


#footer{
	background-color: #262626;
	position: relative;
	height: 60px;
	margin-top: -60px;
	clear: both;
}
#footer p{
	color: white;
	font-family: poppins;
	text-align: center;
	padding-top: 20px;
}