<!DOCTYPE html>
<html lang=en>

<%- include('../../html/headOpening'); %> 
	<link rel="stylesheet" href="../css/index.css">
<%- include('../../html/headClosing'); %> 

<body>
	<%- include('../../html/navigation'); %> 

	<div id="main">
		<div class="content-area">
			<div class="section-1">
				<h1>Contactless Contact Tracing Solution <br>Using QR-Code Technology</h1>
			</div>
			<div class="section-2">
				<div class="col-1">
					<h1>News And Updates About COVID-19 in the Philippines</h1>
					<p>
						As of the 2nd of July 2021, there are 1, 424, 518 Million total Cases, with which<br>
						55, 482 are Active cases. In addition, there are 1, 344, 063 recoveries and 24, 973<br>
						have died due to COVID-19.<br>
						<br>
						On vaccines, as of June 20, there are only 0.6% reaction reported among those 8.4 Million<br>
						doses administered. Furthermore, no hospitalizations and deaths were observed after more than<br>
						14 days of getting the second dose. <br>
					</p>
				</div>
				<div class="col-1">
					<img src="../images/logo.png">
				</div>
			</div>
			<div class="section-3">
				<div class="col-1">
					<img src="../images/logo.png">
				</div>
				<div class="col-1">
					<h1>About Our System</h1>
					<p>The main goal of the project is to create a system that will replace the old contact tracing<br>
						to effectively improve the control of the spread of the disease during a pandemic.<br>
						Furthermore, our system aims to automate the process of contact tracing, thereby making the entrance<br>
						and exit processes in establishments much efficient and fast while maintaining<br>
						data integrity and consistency.
						
					</p>
				</div>
			</div>
			<div class="section-4">
				<img src="../images/html.png">
				<img src="../images/css.png">
				<img src="../images/javascript.png">
				<img src="../images/ajax.png">
				<img src="../images/jquery.png">
				<img src="../images/orgchart.png">
				<img src="../images/bootstrap.png">
				<img src="../images/electronjs.png">
			</div>
		</div>
	</div>

	<script src="../../js/require.js"></script>
	<script src="../js/indexRenderer.js"></script>
	<%- include('../../html/footer'); %>

	</body>
</html>
