<!DOCTYPE html>
<html lang=en>

<%- include('../../html/headOpening'); %> 
	<link rel="stylesheet" href="../css/index.css">
<%- include('../../html/headClosing'); %> 

<body>
	<%- include('../../html/navigation'); %> 

	<div id="main">
		<div class="content-area">
			<div class="section-1">
				<h1>Contactless Contact Tracing Solution <br>Using QR-Code Technology</h1>
			</div>
			<div class="section-2">
				<div class="col-1">
					<h1>News And Updates About COVID-19 in the Philippines</h1>
					<p>Palagay here ng News and Updates kahit 1-2 short paragraphs lang</p>
				</div>
				<div class="col-1">
					<img src="../images/app-logo(stroke).png">
				</div>
			</div>
			<div class="section-3">
				<div class="col-1">
					<img src="../images/app-logo(stroke).png">
				</div>
				<div class="col-1">
					<h1>About Our System</h1>
					<p>The main goal of the project is to create a system that will replace the old contact tracing<br>
						to effectively improve the control of the spread of the disease during a pandemic.<br>
						Furthermore, our system aims to automate the process of contact tracing, thereby making the entrance<br>
						and exit processes in establishments much efficient and fast while maintaining<br>
						data integrity and consistency.
						
					</p>
				</div>
			</div>
			<div class="section-4">
				<img src="../images/html.png">
				<img src="../images/css.png">
				<img src="../images/javascript.png">
				<img src="../images/ajax.png">
				<img src="../images/jquery.png">
				<img src="../images/orgchart.png">
				<img src="../images/bootstrap.png">
				<img src="../images/electronjs.png">
			</div>
		</div>
	</div>

	<script src="../../js/require.js"></script>
	<script src="../js/indexRenderer.js"></script>
	<%- include('../../html/footer'); %>

	</body>
</html>
