
<div class="row">
	<div class="col-1">
		<div class="evvbuttons"><a id="establishmentTableButton" href="estabtable.html" class="btn">Establishments</a></div>
		<div class="evvbuttons"><a id="visitorTableButton" href="visitortable.html" class="btn">Visitors</a></div>
		<div class="evvbuttons"><a id="visitTableButton" href="visittable.html" class="btn">Visits</a></div>
	</div>
	<div class="col-2">
		<div class="row-1">
			<input type="text" name="search" id="searchInput" placeholder="Search...">
				<button>Search</button>
		</div>
		<div class="row-1">
			<div class="small-buttons">
				<button id="editBtn" class="btn-1">Edit</button>
			</div>
			<div class="small-buttons">
				<button id="deleteBtn" class="btn-1">Delete</button>
			</div>
			<div class="small-buttons">
				<button id="traceBtn" class="btn-1">Trace</button>
			</div>
		</div>
		<div class="row-1">
			<div class="small-buttons">
				<button id="sortBtn" class="btn-1">Sort</button>
			</div>
			<select id="field" name="options" class="option1">
				<option value="name" selected>Name</option>
				<option value="date">Date</option>
			</select>
			<select id="order" name="options" class="option2">
				<option value="ascending" selected>Ascending</option>
				<option value="descending">Descending</option>
			</select>
		</div>
	</div>
</div>