<div id="container">
  <nav>
    <div class="navigation">
      <div class="logo">
        <a id="indexPageButtonLogo" href="index.html">
          CCTS
        </a>
      </div>
      <ul class="navbuttons">
        <li><a id="indexPageButton" href="#">Home</a></li>
        <li><a id="dataPageButton" href="#">Data</a></li>
        <!-- <li><a id="treePageButton" href="#">Tree</a></li> -->
        <!-- <li><a id="scanPageButton" href="#">Scan</a></li> -->
        <li><a id="registerPageButton" href="#">Register</a></li>
        <li><a id="printBtn" href="#">Print</a></li>
      </ul>
    </div>
  </nav>
