<!DOCTYPE html>
    <html lang=en>
        <%- include('../../html/headOpening'); %>
            <link rel="stylesheet" href="../css/registrationForm.css">
        <%- include('../../html/headClosing'); %>
    
        <body>
            <%- include('../../html/navigation'); %> 
            <div id="main">
                <div class="content-area">
                    <div class="title">Establishment</div>
                    <form id="establishmentForm">
                        <div class="establishment-details">
                            <div class="input-box">
                                <span class="details">Name</span>
                                <input id="nameInput" type="text" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Address</span>
                                <input id="addressInput" type="text" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Owner</span>
                                <input id="ownerInput" type="text" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Contact Number</span>
                                <input id="contactNumberInput" type="text" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input id="emailInput" type="text" required>
                            </div>

                            <div class="input-box">
                                <span class="details">Username</span>
                                <input id="usernameInput" type="text" required>
                            </div>

                            <div class="input-box">
                                <span class="details">Password</span>
                                <input id="passwordInput" type="password" required>
                            </div>
                        </div>
                        
                        <div class="button">
                            <input id='submitEstablishment' type="submit" value="Register">
                        </div>
                        
                    </form>
                </div>
            </div>
            
            <script src="../../js/require.js"></script>
            <script src="../js/establishmentRegistrationRenderer.js"></script>
            <%- include('../../html/footer'); %> 
        </body>
    </html>

